In [20]:
import pandas as pd
df=pd.DataFrame(
    {
        "country": ["India","USA","China","USA"],
        "year": [2020,2021,2020,2021],
        "sales": [100,120,90,110],
        "profit": [20,34,65,32],
     
    })
melted_data=df.melt(
    id_vars=["country","year"],
    value_vars=["sales","profit"],
    var_name="metrices",
    value_name="value")
melted_data

# #pivot function
melted_data.pivot_table(
    index=["country", "year"],
    columns="metrices",
    values="value",
)

metrices      profit  sales
country year
China   2020    65.0   90.0
India   2020    20.0  100.0
USA     2021    33.0  115.0

In [3]:
df

  country  year  sales  profit
0   India  2020    100      20
1     USA  2021    120      34
2   China  2020     90      65
3     USA  2021    110      32