In [1]:
import pandas as pd

In [9]:
info={
    "NAME": ["roshan","uday","aditi","amit"],
    "CGPA": [9.53,9.37,9.33,9.62]
}
df=pd.DataFrame(info)
print(df)

     NAME  CGPA
0  roshan  9.53
1    uday  9.37
2   aditi  9.33
3    amit  9.62

In [7]:
df

     NAME  CGPA
0  roshan  9.53
1    uday  9.37
2   aditi  9.33
3    amit  9.62

In [24]:
#creating a series
s=pd.Series([1,2,3,4])
print(s)
print(type(s))
print(s[0])# accessing using index
#we can access elements of series by two ways using index and 
#using lables (which we can define or default values are 0,1,2)

# s1=pd.Series([1,2,3,4],index=["AB","B","c","D"])
s1=pd.Series([1,2,3,4])
# print(s1["AB"])#using the lables
print(s1.index)
print(s1+s)

0    1
1    2
2    3
3    4
dtype: int64
<class 'pandas.core.series.Series'>
1
RangeIndex(start=0, stop=4, step=1)
0    2
1    4
2    6
3    8
dtype: int64