In [ ]:
import pandas as pd
df=pd.read_csv("raw_data.csv")
df[["country","gender"]].duplicated()
df2=df.copy()

df2.drop_duplicates(inplace=True)# inplace used to make changes in original data
df2

In [ ]:
df

In [22]:
#Data Types
df.dtypes
#changing type
df2=df.copy()
df2=df2.fillna(0)
df2["age"]=df2["age"].astype("int64").copy()
df2.dtypes

id           int64
name        object
age          int64
country     object
gender      object
income     float64
dtype: object

In [23]:
df2

    id          name  age country   gender   income
0    1      John Doe   29     USA     Male  55000.0
2    2    Jane Smith    0  Canada   Female  62000.0
3    3          Alex    0     USA  Unknown  47000.0
4    4  Maria Garcia   34   Spain   Female      0.0
5    5        Li Wei   27   China     Male  51000.0
6    6             0   45   India   Female  73000.0
7    7    Ahmed Khan   38       0     Male  68000.0
8    8    Rachel Lee   29     USA   Female  62000.0
9    9   Carlos Ruiz    0  Mexico     Male  45000.0
10  10   Emily Davis   31     USA        0  58000.0

In [ ]:
df

In [ ]:
aqi_data=pd.read_csv("globalAirQuality.csv")
aqi_data