In [ ]:
"""joins  and merging used to handle datasets when we have inforamtions in different tables 
to get or merge data in single table we use merging or joins 
inner join : common data in both table
Left join:all data from left
right join: all data from right and matching from left
outer join:  all data from both the df 
"""

In [3]:
import pandas as pd
df_customers=pd.DataFrame({
    "customer_id": [1,2,3,4],
    "name":["Roshan", "Uday", "AMit","Vedaant"]
})
df_orders=pd.DataFrame({
    "order_id":[101, 102,103,104],
    "customer_id": [2,1,4,5],
    "amout":[123,465,75,332]
})
pd.merge(df_customers,df_orders, on="customer_id",how="left")
pd.merge(df_customers,df_orders, on="customer_id",how="right")

   customer_id     name  order_id  amout
0            1   Roshan       102    465
1            2     Uday       101    123
2            4  Vedaant       103     75

In [ ]:
df_customers

In [ ]:
df_orders