In [5]:
import pandas as pd
df=pd.read_csv("raw_data.csv")
df2=df.copy()
df2.drop_duplicates()
df2.fillna(0)
df2.sort_values("income")
df2.reset_index()
df2.to_csv("sorted_data.csv")

In [7]:
#grouping and aggregation

df.groupby("country")["income"].mean()
df.groupby("country")["income"].min()

country
Canada    62000.0
China     51000.0
India     73000.0
Mexico    45000.0
Spain         NaN
USA       47000.0
Name: income, dtype: float64

In [21]:
df.groupby("gender")["income"].mean()
df.groupby("country")["income"].agg(["mean","min","max"])

df.groupby("country")["income"].agg(avg_salary="mean", min_salary="min", max_salary="max")

df.groupby("country").agg(
    
        max_salary=("income","max"),
        avg_age=("age","mean")
    )

         max_salary  avg_age
country
Canada      62000.0      NaN
China       51000.0     27.0
India       73000.0     45.0
Mexico      45000.0      NaN
Spain           NaN     34.0
USA         62000.0     29.5